body {
    background-color: darkgray;
}

img {
    height: 200px;
    width: auto;
    border-radius: 15%;
}


a:link, a:visited{
    background-color: gray;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
}

a:hover {
    color: hotpink;
}